<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated lexicon -->
      <package
            uri="lexicon"
            class="home.computerlinguistik.lexiconmodel.LexiconmodelPackage"
            genModel="model/lexicon.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated grammar -->
      <package
            uri="grammar"
            class="grammarmodel.GrammarmodelPackage"
            genModel="model/grammar.genmodel"/>
   </extension>

</plugin>
