<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="home.computerlinguistik.main.ComputerlinguistikApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="home.computerlinguistik.main.Perspective"
            id="home.computerlinguistik.main.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="home.computerlinguistik.main.application"
            name="computerlinguistik.main">
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="lexicon">
            <command
                  commandId="home.computerlinguistik.main.openlexconeditor"
                  label="open lexicon editor"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
